.signature{
    display: flex;
    align-items: center;
    position: absolute;
    gap: 10px;
    bottom: 3%;
    left: 3%;
}

.signature--name{
    font-family: "Jersey 15", sans-serif;
    color: white;
    font-size: 18px;
}

.signature--img{
    height: 55px;
}